# Database PostgreSQL (Landing Zone / DWH)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=last_mile_dwh

# External APIs
WEATHER_API_KEY=your_openweathermap_api_key_here
HOLIDAY_API_KEY=your_holiday_api_key_here

# Orchestration (Prefect)
PREFECT_API_URL=http://127.0.0.1:4200/api

# Ingestion
RAW_DATA_DIR=data/raw
SOURCE_DATA_DIR=data/source
LOG_DIR=logs